@import './app.scss';



.location {
    background-color: $mainColorColdestOpacity;
    height: 150px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(3, 20, 45, 0.416)
}
.location__body {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-shadow: 1px 1px 1px $shadowText2;
    color: $mainColor;
}
.location__city {
    color: $mainColor;
    font-weight: $fontWeight600;
    font-size: 36px;
}
.location__position {
    display: flex;
    gap: 12px;
}
.location__latitude,
.location__longitude {
    font-weight: $fontWeight600;
    font-size: 20px;
}
.location__countries {
    font-weight: $fontWeight600;
    font-size: 16px;
    display: flex;
    gap: 6px;
}
.location__countryCode {
}
.location__country {
}

@media (max-width: 500px) {
}

@media (max-width: 500px) {
    .location {
        height: fit-content;
    }
}

@media (max-width: 325px) {
    .location__city {
        font-size: 26px;
    }
    .location__latitude,
    .location__longitude {
        display: none;
    }
    .location__countries {
        font-size: 16px;
    }
}
@media (max-width: 260px) {
    .location__city {
        font-size: 16px;
    }
    .location__countries {
        font-size: 12px;
    }
}
@media (max-width: 210px) {
    .location__city {
        font-size: 16px;
    }
    .location__countries {
        display: none;
    }
}
@media (max-width: 165px) {
    .location__city {
        font-size: 12px;
    }
}